@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&family=Roboto+Slab:wght@600&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.Header {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.Header-title {
    font-size: 28px;
    font-weight: 600;
    color: rgb(35, 11, 194);
    font-family: 'Roboto Slab', serif;
}

.Header-desc {
    font-size: 20px;
    font-family: 'Pixelify Sans', sans-serif;
}

.Main {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 375px;
    margin-left: auto;
    margin-right: auto;
}

.Main-content {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border: 1px solid #888; */
    padding: 15px;
    font-size: 18px;
    width: calc(100% - 30px);
    min-height: 450px;
    height: 80%;
    resize: vertical;
}

.Main-content::placeholder {
    font-size: 18px;
}

.result {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #888;
    border-top: 0px;
}

.result-item {
    font-size: 22px;
    /* padding: 20px 60px; */
    padding: 12px 0px;
    /* border: 1px solid #888; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.result-item:not(:last-child) {
    border-right: 1px solid #888;
}

@media (max-width: 1080px) {
    .Main {
        width: 85%;
    }

    .result-item {
        padding: 12px 0px;
        border-bottom: 1px solid #888;
        text-align: center;
    }

    .result-count {
        min-width: 60px;
    }
}

@media (max-width: 600px) {
    .Main {
        width: 100%;
    }

    .result {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .result-item {
        padding: 6px 0px;
    }
}